.promo {
	position: relative;
	min-height: 100vh;
	padding-top: 24vh;
	background: url('../../assets/img/background-main.jpeg') no-repeat 50% / cover;
	&__title {
		text-align: left;
		max-width: 530px;
	}
	&__subtitle {
		text-align: left;
		@include circle_before;
		&:before {
			left: -13px;
		}
	}
	&__buttons {
		margin-top: 25px;
		display: flex;
		gap: 18px;
	}
	&__link {
		color: #000;
		background-color: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 120px;
		height: 30px;
		padding: 0;
		border-radius: 4px;
	}
}
