.about-item {
	display: grid;
	grid-template: minmax(50px, auto) / 36px minmax(100px, 200px);
	grid-auto-rows: minmax(116px, auto);
	gap: 20px;
	&__subtitle {
		text-align: left;
	}
	&__descr {
		// align-self: flex-start;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		text-align: left;
	}
}
